:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	box-sizing: border-box;
	padding: 2vh 0.5vw 0;

	> header {
		display: flex;
		gap: 5vw;
		padding: 8px 5vw;
		box-sizing: border-box;

		::ng-deep app-select-bar {
			mat-form-field {
				width: 140px;
			}
		}
	}

	> section {
		overflow-y: auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 0.5vw;
		padding: 1vh 0;
	}

	> * {
		width: 100%;
	}

	> h1 {
		text-align: center;
	}

	> footer {
		margin-top: auto;
	}
}
