<header>
  <app-search-bar (emitValue)="updateSearch($event)"></app-search-bar>
  <app-select-bar [cases]="typeCases" (emitValue)="updateType($event)"></app-select-bar>
</header>

<ng-container *ngIf="gyphyData$ | async as gyphyData">
  <h1 *ngIf="!loading && !gyphyData.gyphyItems.length">Not Found</h1>

  <section *ngIf="!loading && gyphyData.gyphyItems.length">
    <mat-card *ngFor="let item of gyphyData.gyphyItems">
      <a [href]="item.originalUrl" target="_blank">
        <img [src]="item.viewUrl" alt="Image">
      </a>
    </mat-card>
  </section>

  <footer *ngIf="!loading">
    <app-paginator [length]="gyphyData?.count || 0" (currentPage)="updatePage($event)"></app-paginator>
  </footer>

  <div *ngIf="loading && gyphyGroup.get('search')?.value" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</ng-container>
