<header [formGroup]="gyphyGroup">
	<app-select-bar formControlName="type" ngDefaultControl [cases]="typeCases"></app-select-bar>
	<app-chip-textbox (emitChips)="changeSearch($event)"></app-chip-textbox>
	<!--	<app-search-bar formControlName="search" ngDefaultControl></app-search-bar>-->
</header>

<ng-container *ngIf="gyphyData$ | async as gyphyData">
	<h1 *ngIf="!isLoading && !gyphyData.gyphyItems.length">Not Found</h1>

	<ng-container *ngIf="!isLoading && showImages">
		<section>
			<ng-container *ngFor="let item of gyphyData.gyphyItems | slice: start:end">
				<app-image-card [imageResource]="item.originalUrl" [imageUrl]="item.viewUrl"></app-image-card>
			</ng-container>
		</section>

		<footer>
			<app-paginator
				[pageIndex]="gyphyGroup.get('page')?.value - 1"
				[length]="gyphyData?.count || 0"
				(currentPage)="updatePage($event)"
			></app-paginator>
		</footer>
	</ng-container>

	<app-spinner *ngIf="isLoading"></app-spinner>
</ng-container>
